<launch>
  <!-- Start camera node -->
  <arg name="robot_name" value="$(env robot_name)"/>
  <arg name="lane_kd" default="0.4" />
  <arg name="initial_power" default="75.0" />
  <arg name="use_physical_joy" default="false" />
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="use_tof" default="false" />
  <group ns="$(arg robot_name)">
  <include file="$(find vpa_robot_interface)/launch/vpa_camera.launch" />
  <!-- Start motor driver node -->
  <include file="$(find vpa_robot_interface)/launch/vpa_traction_start.launch" />
  <node name="joy_node" pkg="joy" type="joy_node" if="$(arg use_physical_joy)">
    <param name="dev" value="$(arg joy_dev)" />
  </node>
  <!-- Start your line follower -->
  <node pkg="vpa_robot_operation" type="duckierace.py" name="dr_line_follower" output="screen" >
    <param name="kd" value="$(arg lane_kd)" />
    <param name="robot_name" value="$(arg robot_name)" />
    <param name="initial_power" value="$(arg initial_power)" />
  </node>
  <include file="$(find vpa_robot_interface)/launch/vpa_tof.launch" />
  </group>
</launch>
