<launch>
    <arg name="kp" default="0.02"/>
    <arg name="ki" default="0.0"/>
    <arg name="kd" default="0.02"/>
    <arg name="publish_image" default="false"/>
    <arg name="robot_name" value="$(env robot_name)"/>
    <arg name="publish_tag_debug" default="false"/>
    <arg name="ignore_stop_lines" default="false"/>
    <arg name="free_follow_speed" default="0.3"/>
    <arg name="allow_catch_up" default="false"/>
    <arg name="desired_gap" default="0.5"/>
    <arg name="b_model" default="0.2"/>
    <arg name="tau" default="0.05"/>
     <group ns="$(arg robot_name)">
        <!-- <include file="$(find vpa_robot_interface)/launch/vpa_camera.launch"/> -->
        <include file="$(find vpa_robot_perception)/launch/vpa_camera_exposureadjust.launch"/>
        <include file="$(find vpa_robot_interface)/launch/vpa_traction_start.launch"/>
        <include file="$(find vpa_robot_perception)/launch/vpa_lane_operation.launch">
            <arg name="publish_result" value="$(arg publish_image)"/>
            <arg name="tag_debug" value="$(arg publish_tag_debug)"/>
            <arg name="disable_tag_detection" value="$(arg ignore_stop_lines)"/>
        </include>
        <node pkg="vpa_robot_operation" type="lane_following_legacymethod_node.py" name="lane_following" output="screen">
            <param name="free_follow_speed" value="$(arg free_follow_speed)"/>
            <param name="kp" value="$(arg kp)"/>
            <param name="ki" value="$(arg ki)"/>
            <param name="kd" value="$(arg kd)"/>
         </node>
         <node pkg="vpa_robot_operation" type="krauss_spd_node.py" name="krauss_speed_controller" output="screen">
            <param name="v_max" value="$(arg free_follow_speed)"/>
            <param name="allow_catch_up" value="$(arg allow_catch_up)"/>
            <param name="desired_gap" value="$(arg desired_gap)"/>
            <param name="b_model" value="$(arg b_model)"/>
            <param name="tau" value="$(arg tau)"/>
         </node>
        <node pkg="vpa_robot_operation" type="state_control_node.py" name="state_controller" output="screen">
            <param name="ignore_stop_lines" value="$(arg ignore_stop_lines)"/>
         </node>
      <group if="$(arg publish_image)">
         <node pkg="image_transport" type="republish" name="result_image_compressed" output="screen" args="raw in:=result_image compressed out:=result_image/compressed"/>
      </group>
     </group>
</launch>