<launch>
<!-- Launch lane following and intersection operation nodes -->
    <arg name="lane_follow_only" default="false"/>
    <arg name="allow_catch_up" default="false"/>
    <arg name="desired_gap" default="0.5"/>
    <arg name="freeflow_spdeed" default="0.3"/>
    <include file="$(find vpa_robot_operation)/launch/lane_following.launch">
        <arg name="ignore_stop_lines" value="$(arg lane_follow_only)"/>
        <arg name="allow_catch_up" value="$(arg allow_catch_up)"/>
        <arg name="desired_gap" value="$(arg desired_gap)"/>
        <arg name="free_follow_speed" value="$(arg freeflow_spdeed)"/>
    </include>
    <include file="$(find vpa_robot_operation)/launch/inter_operation.launch"/>
</launch>